@CHARSET "UTF-8";

#mail-autocomplete {
  width: 300px;
  z-index:9999;
  margin:2px 0;
  padding:4px;
}
.autoDiv {
  visibility: hidden;
  position: absolute;
  width: 300px;
  border: 1px solid #CCCCCC;
  background-color: White;
}
.autoDiv .item {
	cursor:pointer;
	color:#333333;
}
